<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>File Metadata</title>
  </head>
  <body>
    <h1>File Metadata</h1>
    <p>
      Upload any file and it will return the metadata of the file in a json
      response.
    </p>
    <p>
      You're limited to maximum file size of 10mb. Please use smaller files for
      quick results
    </p>
    <label>Upload file</label>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="formfile" />
      <input type="submit" />
    </form>
  </body>
</html>
